<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portfolio</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/portfolio.styles.css" asp-append-version="true" />
</head>
<body class="dark-theme">
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#home" class="nav__logo"><b><u>Anto Kumar Paul</u></b></a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a asp-controller="Home" asp-action="Index" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a asp-controller="About" asp-action="Index" class="nav__link">
                            <i class="uil uil-user nav__icon"></i>About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a asp-controller="Skill" asp-action="Index" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i>Skills
                        </a>
                    </li>
                    <li class="nav__item">
                        <a asp-controller="Service" asp-action="Index" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i>Services
                        </a>
                    </li>
                    <li class="nav__item">
                        <a asp-controller="Portfolio" asp-action="Index" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i>Portfolio
                        </a>
                    </li>
                    <li class="nav__item">
                        <a asp-controller="Contact" asp-action="Index" class="nav__link">
                            <i class="uil uil-message nav__icon"></i>Contact
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav__item">
                            <a asp-controller="Message" asp-action="Index" class="nav__link">
                                <i class="uil uil-inbox nav__icon"></i> Messages
                            </a>
                        </li>
                    }
                    

                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">
                <!-- Theme change button -->

                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
