@* <section class="portfolio section" id="portfolio">

    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent works</span>

    <div class="portfolio__container container swiper-container">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->

            <div class="portfolio__content grid swiper-slide">
                <img src="./packages/images/voting software.png" alt="" class="portfolio__img">

                <div class="portfolio_">
                    <h3 class="portfolio__title">Electronic Voting System</h3>
                    <p class="portfolio__description">
                        Electronic voting, a form of computer-mediated voting in
                        which voters make their selections with the aid of a computer.
                    </p>
                    <a href="https://github.com/Anto-kumar/Online-Voting-An-online-voting-desktop-app-with-Java"
                       class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 2 ====================-->

            <div class="portfolio__content grid swiper-slide">
                <img src="packages/images/air_ticket.png" alt="" class="portfolio__img">

                <div class="portfolio_">
                    <h3 class="portfolio__title">Buy Air Ticket</h3>
                    <p class="portfolio__description">
                        Easy Ticket Booking. Make Payment.Also cancellation with
                        refund (Console app)
                    </p>
                    <a href="https://github.com/Anto-kumar/Go-ON-THE-Air"
                       class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- add arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>

        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!-- Add Pagination -->

        <div class="swiper-pagination"></div>

    </div>

</section> *@

<section class="portfolio section" id="portfolio">

    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent works</span>

    <div class="portfolio__container container swiper-container">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->

            <div class="portfolio__content grid swiper-slide">
                <img src="packages/images/air_ticket.png" alt="" class="portfolio__img">

                <div class="portfolio_">
                    <h3 class="portfolio__title">Buy Air Ticket</h3>
                    <p class="portfolio__description">
                        Easy Ticket Booking. Make Payment.Also cancellation with
                        refund (Console app)
                    </p>
                    <a href="https://github.com/Anto-kumar/Go-ON-THE-Air"
                       class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

      @*   <!-- add arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>

        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!-- Add Pagination -->

        <div class="swiper-pagination"></div> *@

    </div>

    <br />
    <br />


    <div class="portfolio__container container swiper-container">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->

            <div class="portfolio__content grid swiper-slide">
                <img src="./packages/images/voting software.png" alt="" class="portfolio__img">

                <div class="portfolio_">
                    <h3 class="portfolio__title">Electronic Voting System</h3>
                    <p class="portfolio__description">
                        Electronic voting, a form of computer-mediated voting in
                        which voters make their selections with the aid of a computer.
                    </p>
                    <a href="https://github.com/Anto-kumar/Online-Voting-An-online-voting-desktop-app-with-Java"
                       class="button button--flex button--small portfolio__button">
                        Demo
                        <i class="uil uil-arrow-right button__icon"></i>
                    </a>
                </div>
            </div>
        </div>

        @*   <!-- add arrows -->
        <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>

        <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>

        <!-- Add Pagination -->

        <div class="swiper-pagination"></div> *@

    </div>

</section>


<section class="project section">

    <div class="project__bg">
        <div class="project__container container grid">
            <div class="project__data">
                <h2 class="project__title">You have a new project?</h2>
                <p class="project__description">
                    Contact me now and get discounts on your Web development
                    projects.
                </p>
                <a asp-controller="Contact" asp-action="Index" class="nav__link">
                    Contact me
                    <i class="uil uil-message project__icon button__icon"></i>
                </a>

            </div>
            <!-- <img src="assets/img/project.png" alt="" class="project__img"> -->
        </div>
    </div>

</section>